*
{
    margin: 0;
}

video
{
    z-index: -1;
    position: fixed;
    filter:blur(5px);
}
body
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 34% 33%;
    height: 100vh;
    justify-content: center;
}
.mainDivSearch
{
    color: white;
}
.mainDivDivText
{
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.mainDivDivInput
{
    display: grid;
    grid-template-columns: 15% 15%;
    column-gap: 1%;
    justify-content: center;
}
.mainDivDivInput > input
{
    border: none;
    border-radius: 5px;
}
.mainDivDivInput > button
{
    border: none;
    border-radius: 5px;
}
.mainDivResults
{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    row-gap: 2%;
}
.card
{
    cursor: pointer;
    max-height:max-content;
}