*
{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
body
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 34% 33%;
    height: 100vh;
    justify-content: center;
}
video
{
    z-index: -1;
    position: fixed;
    opacity: 1.1;
    background-color: black;
}
main
{
    color: white;
}
.mainDivDivText
{
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.mainDivDivInput
{
    display: grid;
    grid-template-columns: 15% 15%;
    column-gap: 1%;
    justify-content: center;
}
.mainDivDivInput > input
{
    border: none;
    border-radius: 5px;
}
.mainDivDivInput > button
{
    border: none;
    border-radius: 5px;
}
